:root{
  --flag-bg: #ffffff;
  --red-circle: #bc022c;
  --flag-height: 200px;
  --body-bg: #000000;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: var(--body-bg);
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag{
  height: var(--flag-height);
  width: calc(var(--flag-height)*3/2);
  background-color: var(--flag-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-circle{
  width: calc(var(--flag-height)*3/5);
  height: calc(var(--flag-height)*3/5);
  background-color: var(--red-circle);
  border-radius: 50%;
}