:root{
  --body-bg: #d9d9d9;
  --spinner: #f3f3f3;
  --spinner-active: purple;
  --spinner-height: 150px;
  --spinner-width: 150px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: var(--body-bg);
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner{
  width: var(--spinner-width);
  height: var(--spinner-height);
  border: 2em solid var(--spinner);
  border-radius: 50%;
  animation: spin 2s linear infinite ;
  border-top-color: var(--spinner-active);
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}
